name: Build NCS Firmware

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/memfault/memfault-ncs-quickstart-fw:2025-11-04

    strategy:
      matrix:
        board:
          - nrf52840dk/nrf52840
          - nrf5340dk/nrf5340/cpuapp
          - thingy53/nrf5340/cpuapp
          - nrf54l15dk/nrf54l15/cpuapp
          - nrf54lm20dk/nrf54lm20a/cpuapp
          - nrf54h20dk/nrf54h20/cpuapp

      fail-fast: false

    steps:
    - name: Create sanitized board name
      id: board_name
      run: |
        BOARD_NAME="${{ matrix.board }}"
        SANITIZED_NAME=$(echo "$BOARD_NAME" | sed 's/\//-/g')
        echo "sanitized=$SANITIZED_NAME" >> $GITHUB_OUTPUT

    - name: Apply patches
      # Patch from here:
      # https://github.com/nrfconnect/sdk-nrf/compare/v3.2.0-preview2-branch...memfault:noahp/memfault-project-key-runtime-v3.2.0-preview2
      run: |
        wget -O - https://github.com/nrfconnect/sdk-nrf/compare/v3.2.0-preview2-branch...4c2c02efd79bd254b67d11730489195bf286914a.diff | git -C /opt/ncs/${MEMFAULT_NCS_VERSION}/nrf apply

    - name: Build firmware for ${{ matrix.board }}
      run: |
        . /opt/toolchain-env.sh
        cd /opt/ncs/${MEMFAULT_NCS_VERSION}
        west build --build-dir 0.0.1 --sysbuild --pristine=always --board ${{ matrix.board }} nrf/samples/bluetooth/peripheral_mds -- -DCONFIG_MEMFAULT_NCS_PROJECT_KEY=\"dummy\" -DCONFIG_MEMFAULT_NCS_FW_VERSION=\"0.0.1\"
        west build --build-dir 0.0.2 --sysbuild --pristine=always --board ${{ matrix.board }} nrf/samples/bluetooth/peripheral_mds -- -DCONFIG_MEMFAULT_NCS_PROJECT_KEY=\"dummy\" -DCONFIG_MEMFAULT_NCS_FW_VERSION=\"0.0.2\"

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: firmware-${{ steps.board_name.outputs.sanitized }}-${{ github.sha }}
        path: |
          /opt/ncs/*/0.0.1/dfu_application.zip_manifest.json
          /opt/ncs/*/0.0.1/dfu_application.zip
          /opt/ncs/*/0.0.1/merged.hex
          /opt/ncs/*/0.0.1/peripheral_mds/zephyr/zephyr.elf
          /opt/ncs/*/0.0.2/dfu_application.zip_manifest.json
          /opt/ncs/*/0.0.2/dfu_application.zip
          /opt/ncs/*/0.0.2/merged.hex
          /opt/ncs/*/0.0.2/peripheral_mds/zephyr/zephyr.elf
        retention-days: 30
